<div class="sidebar-affix affix">
	<div class="node-toc panel public-panel">
    	<div class="panel-heading">
    		<h3 class="panel-title">Contents</h3>
    	</div>
    	{% include 'ScribeSwimBundle:Toc:list.html.twig' with {'toc_heads': toc_heads, 'prev': null} only %}
    </div>
</div>                 